<ion-content>
  <h3 class="title" *ngIf="(cartItems$|async).length">
    <span>{{ cartQuantity }}</span> producto(s) en el carro
  </h3>

  <!-- CART ITEMS -->
  <ion-list lines="none">
    <ion-item *ngFor="let item of cartItems$|async">
      <app-cart-item
        [item]="item"
        (increse)="onIncrease(item)"
        (decrase)="onDecrease(item)"
      ></app-cart-item>
    </ion-item>
  </ion-list>

  <!-- EMPTY CART -->
  <div class="empty-cart" *ngIf="!(cartItems$|async).length">
    <ion-icon name="cart"></ion-icon>
    <p>No has agregado productos</p>
  </div>

  <!-- CHECKOUT BUTTON -->
  <div *ngIf="(cartItems$|async).length" class="checkout">
    <h4 class="ion-text-center">
      Total:<span> {{ totalAmount$| async |currency: 'CLP' }}</span>
    </h4>
    <app-button (click)="goToCheckout()">Ir a pagar</app-button>
  </div>
</ion-content>
