<ion-content>
  <header
    class="header"
    [ngStyle]="{'background-image': 'url(' + restaurant.image + ')'}"
  >
    <ion-buttons>
      <ion-button routerLink="/home/listing">
        <ion-icon color="light" name="arrow-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button>
        <ion-icon color="light" name="heart-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </header>

  <!-- FOOD DETAIL CARD -->

  <article class="info">
    <header>
      <h1>{{ restaurant.title}}</h1>

      <ion-chip color="warning">
        <ion-icon name="star"></ion-icon>
        <p>{{restaurant.calification}}</p>
      </ion-chip>
    </header>

    <!-- PRODUCTS -->

    <div class="product-list">
      <ion-list>
        <ion-item *ngFor="let product of products" lines="full">
          <app-product-card [product]="product"> </app-product-card>
        </ion-item>
      </ion-list>
    </div>
  </article>
</ion-content>
