<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="listing">
      <ion-icon name="restaurant-outline" size="small"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="location">
      <ion-icon name="location-outline" size="small"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="wishlist">
      <ion-icon name="star-outline" size="small"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline" size="small"></ion-icon>
      <ion-badge>{{ cartQuantity }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
